@model project.Data.User

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .body {
            max-width: 1000px;
            margin: 0 auto;
        }

        h1 {
            text-align: center; 
            margin-bottom: 20px;
        }

        .form-register {
            border: 2px solid #28a745;
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 20px;
            transition: transform 0.3s ease;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }

        .labelRegister {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #28a745; 
        }

        .inputRegister {
            width: 100%;
            padding: 15px; 
            margin-bottom: 15px;
            border: 1px solid #28a745;
            border-radius: 5px;
            font-size: 14px;
            height: 50px;
        }

        .submit-button {
            background-color: #28a745; 
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

        .submit-button:hover {
            background-color: #28a745; 
        }

        .validation-summary {
            color: #d9534f; 
            font-size: 14px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="body">
        <h1>Register</h1>
        <form class="form-register" asp-action="Register">
            <div>
                <label class="labelRegister" asp-for="username">Username</label>
                <input class="inputRegister" asp-for="username" />
                <span asp-validation-for="username" class="validation-summary"></span>
            </div>
            <div>
                <label class="labelRegister" asp-for="password">Password</label>
                <input class="inputRegister" asp-for="password" type="password" />
                <span asp-validation-for="password" class="validation-summary"></span>
            </div>
            <button class="submit-button" type="submit">Register</button>
        </form>
    </div>
</body>
</html>

